@tailwind base;
@tailwind components;
@tailwind utilities;

.file-upload {
    position: relative;
}
.file-upload .file-upload-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
